<% include ../partials/header %>
<div class="container">
    <h1> <%= detail.StudentName %></h1>

    <div class="form-group">
        <label for=" ">StudentID></label>
        <input type="text" value="<%= detail.sid %>" readonly class="form-control" name="" id=""
            aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
        <label for=" ">StudentName></label>
        <input type="text" value="<%= detail.name %>" readonly class="form-control" name="" id=""
            aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
        <label for=" ">Major></label>
        <input type="text" value="<%= detail.major %>" readonly class="form-control" name="" id=""
            aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
        <label for=" " >Faculty></label>
        <input type="text" value="<%= detail.faculty %>" readonly class="form-control" name="" id=""
            aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
        <label for=" ">Subject></label>
        <input type="text" value="<%= detail.subject %>" readonly class="form-control" name="" id=""
            aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <a name="" id="" class="btn btn-primary" href="/student" role="button">Save</a>
    <a name="" id="" class="btn btn-primary" href="/student" role="button">Cancel</a>
     
</div>

<% include ../partials/footer %>